#room header {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

#room header .buttons {
  display: flex;
  flex-direction: row;
}

#room header .buttons .button:nth-child(1) {
  margin-right: 0.8rem;
}
